.container{
    width: 85%;
}
.content{
    margin:auto;
    width: 95%;
}
.formcenter{
    margin:auto;
    width: 65%;
}

.footer {
    background: #3772f3;
    color:#fff;
}
.footer a{
    
    color:#fff;
}